@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: cneter;
    padding: 10px 200px;
}

.navigation a {  
    color: #000;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    padding-left: 30px;
    transition: 0.7s ease;
}

.navigation a:hover {
    color: rgb(5, 5, 118);
}

.navbar-brand img  {
    height: 30px;
    width: 200px;
    text-align: center;
}


section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-width: 100vh;
    display: flex;
    align-items: center;
    background: url(images/background.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.main h2 {
    padding-top: 10px;
    padding-bottom: 160px;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 2px;
    color: #fff;
}

.description p {
    font-size: 1.8em;
    font-weight: 300;
    letter-spacing: 2.5px;
    color: #000;
}

.description span {
    font-size: 56px;
    font-weight: 700;
    color: rgb(5, 5, 118);
}

.main-btn {
    color:#000;
    background-color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.187em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 30px;
    transition: 0.7s ease;
}

.main-btn:hover{
    background-color: rgb(5, 5, 118);
    color: #fff;
    transform: scale(1.1);
}

.title {
    display: flex;
    justify-content: center;
    color: rgb(5, 5, 118);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 40px;
}

.content {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgb(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    text-align: center; 
}

.info {
    text-align: center;
}

.info h3 {
    color: rgb(5, 5, 118);
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.forms {
    background: linear-gradient(45deg, #1a7dcf , #f9f9f9, #fb5353);
    box-sizing: border-box;
}


.form {
    background: #fff;
    padding: 3em;
    width: 800px;
    height: 80em;
    overflow: hidden;
    border-radius: 40px;
    box-shadow: 20px 20px 20px rgba(223, 217, 217, 0.3);
    box-sizing: border-box;
}

.form h2 {
    color: rgb(5, 5, 118);
    font-size: 2.5em;
    margin-bottom: 50px;
}

.form div {
    padding: 3px 0px; 
    margin: 40px 0px;
    font-size: 1.6em;
    color: rgb(5, 5, 118);  
}

.form div [type= button] {
    padding-top: 0px;
    background-color: #fff;
    width: 22.5em;
    height: 2.3em;
    font-size: 31.6px;
    font-weight: 4em;
    color: #000;
    border-radius: 10px;
    transition: 0.5s ease;
}

.form div [type = button]:hover {
    background-color: rgb(5, 5, 118);
    color: #fff;
}

.form  input {
    background: transparent;
    width: 53em;
    height: 5em;
    padding: 1em;
    border-radius: 10px;
}

.form textarea {
    width: 53em;
    height: 210px;
    border-radius: 10px;  
}

.form input[type = submit] {
    padding-top: 10px;
    background-color: rgb(5, 5, 118);
    width: 31em;
    height: 4.5em;
    font-size: 22.5px;
    font-weight: 2.5em;
    color: #fff;
    border-radius: 20px;
}

.form-login {
    
    background: #fff;
    padding: 3em;
    width: 600px;
    height: 750px;
    overflow: hidden;
    border-radius: 40px;
    box-shadow: 20px 20px 20px rgba(223, 217, 217, 0.3);
}

.form-login h2 {
    color: rgb(5, 5, 118);
    font-size: 2.5em;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid silver;
}

.form-login div {
    padding: 4px 0px; 
    margin: 40px 0px; 
    font-size: 1.5em;
    color: rgb(5, 5, 118);

}
 
.form-login input {
    background: transparent;
    width: 38em;
    padding: 1em;
    border-radius: 10px;
}

.form-login input[type = submit] {
    background-color: rgb(5, 5, 118);
    font-size: 22.5px;
    width: 22.5em;
    color: #fcfbfb;
    border-radius: 20px;
}

.form-signin {
    
    background: #fff;
    padding: 3em;
    width: 600px;
    height: 500px;
    overflow: hidden;
    border-radius: 40px;
    box-shadow: 20px 20px 20px rgba(223, 217, 217, 0.3);
}

.form-signin h2 {
    color: rgb(5, 5, 118);
    font-size: 2.5em;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid silver;
}

.form-signin div {
    padding: 6px 0px; 
    margin: 70px 0px; 
    font-size: 1.9em;
    color: rgb(5, 5, 118);

}

.form-signin input {
    background: transparent;
    width: 38em;
    padding: 1em;
    border-radius: 10px;
}

.form-signin input[type = submit] {
    background-color: rgb(5, 5, 118);
    font-size: 22.5px;
    width: 22.5em;
    color: #fcfbfb;
    border-radius: 20px;
}

footer {
    background-color: #000000;
    height: 90px;
}
 

.footer-title {
    color: #fff;
    padding-top: 20px;
    text-align: center;
    font-size: 2em;
    font-weight: 600;
}

@media (max-width: 1023px) {

    header {
        padding: 10px 20px;
    }

    .navigation {
        padding-left: 10px;
    }

    .title {
        font-size: 1.8em;
    }

    section {
        padding: 80px 20px;
    }

    .main-content h2 {
        font-size: 1em;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

}